/* styles.css */

/* Base styles */ 
.scroll-section {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin: 20px auto;
    padding-bottom: 30px;
}

.scroll-container {
    width: 100%; /* Ensure the container takes full width */
    overflow: hidden;
}

.scroll-content {
    display: flex;
    transition: transform 0.5s ease; /* Smooth transition for transform */
}

.scroll-content img {
    width: auto;
    height: 100px; /* Adjust height as needed */
    margin: 0 10px; /* Adjust margin between images */
    object-fit: contain; /* Ensure images maintain aspect ratio */
    background-color: #f0f0f000; /* Placeholder color */
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    
    .scroll-content {
        display: flex;
        transition: transform 1.2s ease; /* Smooth transition for transform */
    }

    .scroll-content img {
        height: 30px; /* Adjust height for smaller screens */
        margin: 0 24px; /* Adjust margin for smaller screens */
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .scroll-content img {
        height: 50px; /* Adjust height for tablets */
        margin: 0 32px; /* Adjust margin for tablets */
    }
}

@media (min-width: 1025px) {
    .scroll-content img {
        height: 44px; /* Adjust height for desktops */
        margin: 36px; /* Adjust margin for desktops */
    }
}
